

@model List<PizzaCategory>

<header class="row">
    <h3 class="col-12 text-center my-4">
        Benvenuti! Ecco l'elenco delle pizze nel nostro menù'
    </h3>
</header>
<body>
    <div class="container text-center">
        <input class="input-group-text w-100" id="search" placeholder="Inserisci il nome della pizza da cercare" onkeyup="search()"/>
        <button id="search-btn" class="btn btn-primary">Cerca</button>
        <div id="master" class="row gx-2">
            @*@if(@Model.Count() == 0)
            {
                <h2>
                    Non ci sono pizze nell'elenco'
                </h2>
            }
            else
            {
                @foreach(PizzaCategory pizza in @Model)
                {
                <div class="col-4 text-center card align-items-center justify-content-center">
                    <img src=@pizza.Pizza.fotoLink class="w-100 h-50"/>
                    <h2>@pizza.Pizza.name</h2>
                    <p>@pizza.Pizza.description</p>
                    <p><strong>Prezzo: </strong>@pizza.Pizza.prezzo</p>
                        @foreach(Category category in @pizza.Categories)
                        {
                            <p><strong>Categoria: </strong>@category.Name</p>
                        }
                    
                    <p><a href="/Pizza/Details/@pizza.Pizza.id">Dettagli</a><p>
                    <p><a href="/Pizza/Edit/@pizza.Pizza.id">Modifica</a></p>
                </div>
                }
            }*@
        </div>
    </div>
    <div class="text-center w-25 m-auto">
        <a class="btn-primary rounded-pill py-2 px-4 my-5" href="/Home/Contact">Contattaci!</a>

        <a class="btn-primary px-4 py-2 rounded-pill m-3" href="/Home/Index">Indietro</a>
    </div>
    
</body>

<script TypeText="Javascript">

function search() {
    let value = document.getElementById("search").value;
    listSearch(value);
}

listSearch(null);

function listSearch(search) {
        let master = document.getElementById("master");
        master.innerHTML = "";
        axios.get("/Api/Pizzas", {
            params: {
                search: search
            }
        }).then(response => {
            if (response.status == 200) {
                console.log("Prova axios search", response)
                for (let i = 0; i < response.data.length; i++) {
                    master.innerHTML += `<div class="col-4 text-center card align-items-center justify-content-center">
                                            <img src=${response.data[i].fotoLink} class="w-100 h-50"/>
                                            <h2>${response.data[i].name}</h2>
                                            <p>${response.data[i].description}</p>
                                            <p><strong>Prezzo: </strong>${response.data[i].prezzo} €</p>  
                                                         
                                            <button class="btn btn-sm btn-warning my-2"><a class="text-white text-decoration-none" href="/Home/Detail/${response.data[i].id}">Dettagli</a></button>
                                            </div>`
                }
            }
        }).catch(e => {
            console.log(e)
        })
}


let master = document.getElementById("master");
            axios.get("/Api/Pizzas").then(response => {
            console.log("PROVA!", response)
                if (response.status == 200) {
                    console.log("LUNGHEZZA", response.data.length)
                    for (let i = 0; i < response.data.length; i++) {
                        master.innerHTML += `<div class="col-4 text-center card align-items-center justify-content-center">
                                                <img src=${response.data[i].fotoLink} class="w-100 h-50"/>
                                                <h2>${response.data[i].name}</h2>
                                                <p>${response.data[i].description}</p>
                                                <p><strong>Prezzo: </strong>${response.data[i].prezzo} €</p>  
                                                         
                                                <button class="btn btn-sm btn-warning my-2"><a class="text-white text-decoration-none" href="Home/Detail/${response.data[i].id}">Dettagli</a></button>
                                                </div>`
                    }
                }
            }).catch(e => {
                console.log(e)
            })

                s
</script>
