

@model List<PizzaCategory>



<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - la_mia_pizzeria_static</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/la_mia_pizzeria_static.styles.css" asp-append-version="true" />
</head>
<header class="row">
    <h3 class="col-12 text-center my-4">
        Benvenuti! Ecco l'elenco delle pizze nel nostro menù'
    </h3>
</header>
<body class="bg_grey">
    <div class="container text-center">
        <div id="master" class="row gx-2">
            @*@if(@Model.Count() == 0)
            {
                <h2>
                    Non ci sono pizze nell'elenco'
                </h2>
            }
            else
            {
                @foreach(PizzaCategory pizza in @Model)
                {
                <div class="col-4 text-center card align-items-center justify-content-center">
                    <img src=@pizza.Pizza.fotoLink class="w-100 h-50"/>
                    <h2>@pizza.Pizza.name</h2>
                    <p>@pizza.Pizza.description</p>
                    <p><strong>Prezzo: </strong>@pizza.Pizza.prezzo</p>
                        @foreach(Category category in @pizza.Categories)
                        {
                            <p><strong>Categoria: </strong>@category.Name</p>
                        }
                    
                    <p><a href="/Pizza/Details/@pizza.Pizza.id">Dettagli</a><p>
                    <p><a href="/Pizza/Edit/@pizza.Pizza.id">Modifica</a></p>
                </div>
                }
            }*@
        </div>
    </div>
    <div class="text-center w-25 m-auto">
        <a class="btn-primary rounded-pill py-2 px-4 my-5" href="/Pizza/Create">Crea Nuova Pizza!</a>
        <a class="btn-primary px-4 py-2 rounded-pill m-3" href="/Home/Index">Indietro</a>
    </div>
    
</body>

<script TypeText="Javascript">
                let master = document.getElementById("master");
                axios.get("Api/Pizzas").then(response => {
                console.log("PROVA!", response)
                    if (response.status == 200) {
                        console.log("LUNGHEZZA", response.data.length)
                        for (let i = 0; i < response.data.length; i++) {
                            master.innerHTML += `<div class="col-4 text-center card align-items-center justify-content-center">
                                                    <img src=${response.data[i].fotoLink} class="w-100 h-50"/>
                                                    <h2>${response.data[i].name}</h2>
                                                    <p>${response.data[i].description}</p>
                                                    <p><strong>Prezzo: </strong>${response.data[i].prezzo} €</p>  
                                                         
                                                    <button class="btn btn-sm btn-warning my-2"><a class="text-white text-decoration-none" href="/Pizza/Details/${response.data[i].id}">Dettagli</a></button>
                                                    <button class="btn btn-sm btn-warning my-2"><a class="text-white text-decoration-none" href="/Pizza/Edit/${response.data[i].id}">Modifica</a></button>
                                                 </div>`
                        }
                    }
                }).catch(e => {
                    console.log(e)
                })
</script>